.field {
	width: 100%;
	display: flex;
	align-items: center;
	column-gap: 12px;
	padding-inline: 8px;
	border: 4px solid var(--mantine-color-body);
	border-radius: 8px;
	background-color: var(--mantine-color-body);
	height: 32px;
	position: relative;

	&.hasLabel {
		margin-top: 30px;
	}

	&.thinline {
		border: 1px solid var(--mantine-color-body);
		padding-inline: 11px;
		background-color: var(--mantine-color-white);
	}
}

.input {
	width: 100%;
	background: none;
	border: none;
	outline: none;

	&:focus {
		border: none;
	}

	&:active {
		border: none;
	}

	&[type='search']::-webkit-search-cancel-button {
		display: none;
		-webkit-appearance: none; /* Дополнительная гарантия скрытия */
	}
}

.cross {
	@include flex-center;

	rotate: 45deg;
	width: auto;
	height: auto;
	padding: 2px;
	border-radius: 50%;
	border: none;
	outline: none;
	background: none;
	transition-duration: 0.2s;

	&:hover {
		background-color: var(--mantine-color-white);
	}
}

.label {
	position: absolute;
	top: -30px;
	left: 0;
}

.asterisk {
	color: #ff4d4f;
}
